.titlex {
    color: #000000;
}

.background-image {
    background-color: rgb(156, 213, 230);
    background-size: auto;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

label span {
    color: red;
}

input {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
