body {
  background-color: #cf9851; /* Color café pastel */
}

header.masthead {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("Imagenes/Tierra\ del\ Fuego\ 1.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  z-index: 1;
}

header.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header.masthead img {
  max-width: 100%;
  height: auto;
}

header.masthead h1 {
  font-size: 2.5rem;
}

header.masthead p {
  font-size: 1.25rem;
}

section#about {
  padding: 2rem 0;
}

section#nosotros.card {
  margin: 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section#nosotros .card-body {
  flex: 1;
}

section#nosotros .card-img-top {
  height: 200px;
  object-fit: cover;
}

section#contacto {
  padding: 2rem 0;
}


.invalid-feedback {
background-color: white;
color: red;
padding: 5px;
border-radius: 5px;
}